useDynLib(PING,.registration=TRUE)


importFrom(graphics, abline, axis, grid, layout, lines, mtext, par, plot, points, segments, stripchart, symbols, title)
importFrom(grDevices, grey)
importFrom(stats, dt, integrate, kmeans, pt)
#importFrom(BiocGenerics, density)
importFrom(stats4, summary)

importFrom(IRanges, IRanges, RangedData)
importClassesFrom(IRanges, IRanges, RangedData)
importMethodsFrom(IRanges, duplicated, end, levels, lapply, order, score, sort, space, start)

importMethodsFrom(GenomicRanges, strand, seqnames)

#importFrom(BSgenome, GenomeData)
#importClassesFrom(BSgenome, GenomeData)

importFrom(GenomeGraphs, makeGenomeAxis, makeGene, DisplayPars, makeGeneRegion, makeTitle,
	gdPlot, makeBaseTrack, makeRectangleOverlay, makeSegmentation)

importClassesFrom(PICS, segReads, segReadsPE, segReadsList, segReadsListPE, pics, picsError, picsList)
importMethodsFrom(PICS, coerce, show, summary, score, minRange, maxRange, scoreReverse, scoreForward, chromosome, map,
	 se, seF,seR,sigmaSqF, sigmaSqR, delta, mu, w, K, code, length, "[","[[")
importFrom(PICS, segReads, segReadsPE, segReadsList, segReadsListPE,
	segReadsGeneric, summarySeg, makeRangedDataOutput, setParaEM, setParaPrior,
	candidate.region, segChrRead)



exportClasses(ping, pingError, pingList)
exportMethods(show, summary, plot, density, chromosome, score, se, seF, seR, sigmaSqF, sigmaSqR, mu, delta, w, code, length, K,"[","[[")
export("PING","postPING","newPingError",
	"segReads","segReadsPE","segReadsList","segReadsListPE",
	"segmentPING","makeRangedDataOutput","setParaEMPING","setParaPriorPING")
